window {
    margin: 0px;
    border: 2px solid #bd93f9;
    background-color: #282a36;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    border-radius: 12px;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #44475a;
}

#entry:selected {
    background-color: #6272a4;
    border-radius: 8px;
}

#text:selected {
    color: #ffffff;
}
